/* CUSTOM PROPS */
:root {
    --blue: #415aff;
    --yellow: #f5ff93;
    --black: #191919;
    --black-blue: #212529;
    --light-grey: #8d9499;
    --dark-grey: #44464d;
    --grey: #737980;
    --white: #fff;
    --text-color: var(--black);
}


/* FONTS */
@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Bold.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}


/* GLOBAL */
html {
    box-sizing: border-box;
    height: 100%;
    scroll-behavior: smooth;
    font-size: 62.5%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

*:focus {
    /* Outline styles */
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 2rem;
    line-height: 140%;
    color: var(--text-color);
    background-color: var(--white);
}

img {
    max-width: 100%;
    height: auto;
}

/* AUTOFILL STYLES*/
/* input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    border: 1px solid green;
    -webkit-text-fill-color: green;
    -webkit-box-shadow: 0 0 0px 1000px #000 inset;
    transition: background-color 5000s ease-in-out 0s;
} */


/* PLACEHOLDER STYLES */
/* ::-webkit-input-placeholder,
::-moz-placeholder,
:-ms-input-placeholder,
:-moz-placeholder {
    color: #000;
    opacity: 1;
} */


/* VISUALLY HIDDEN */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}



/* CONTAINER */
.container {
    width: 100%;
    max-width: 137.6rem;
    padding-left: 32px;
    padding-right: 32px;
    margin-left: auto;
    margin-right: auto;
}


/* BUTTON */
.button {
    display: inline-block;
    padding: 24px 32px;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 133.333%;
    color: var(--text-color);
    background-color: var(--yellow);
    border: none;
    border-radius: 36px;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    cursor: pointer;
}

.button--blue {
    padding: 27px 19px;
    font-weight: 400;
    color: var(--white);
    background-color: var(--blue);
    border-radius: 0;
}

.button__inner {
    display: flex;
    align-items: center;
    gap: 16px;
}

.button--blue .button__inner {
    gap: 43px;
}

.button__inner::after {
    content: "";
    display: inline-block;
    width: 18px;
    height: 18px;
    background-image: url(../imgs/arrow-to-right.svg);
}

.button--blue .button__inner::after {
    filter: brightness(0) invert(1);
}

/* FORM */
.form {
    display: flex;
    width: 508px;
    border: 1px solid #e3e7e2;
    border-radius: 100px;
    overflow: hidden;
}

.form__group {
    flex-grow: 1;
}

.form__field {
    display: block;
    width: 100%;
    padding: 27px 28px;
    font-size: 1.8rem;
    line-height: 133.333%;
    border: none;
}

.form__field::placeholder {
    color: var(--light-grey);
}

/* LOGO */
.logo {
    display: inline-block;
    flex-shrink: 0;
}

.logo:hover {
    opacity: 0.8;
}

.logo:active {
    opacity: 0.6;
}

.logo__img {
    display: block;
    width: 100%;
    height: 100%;
}

/* SITENAV */
.sitenav__list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sitenav__item:not(:last-child) {
    margin-right: 24px;
}

.sitenav__link {
    display: block;
    font-size: 1.6rem;
    line-height: 500%;
    color: var(--text-color);
    text-decoration: none;
    white-space: nowrap;
    transition: color 0.3s ease;
}

.sitenav__link:hover {
    color: var(--blue);
}

.sitenav__link:active {
    opacity: 0.6;
}

/* SITENAV-TOGGLER */
.sitenav-toggler {
    display: none;
}


/* MAIN CONTENT */
.main-content {
    flex-grow: 1;
}


/* SITE-HEADER */
.site-header__container {
    display: flex;
    align-items: center;
}

.site-header__logo {
    margin-right: 48px;
}


@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) { 

/* Retina-specific stuff here */

}

@media only screen and (max-width: 570px) {
    /* SITE-HEADER */
    .site-header {
        padding-top: 26px;
        padding-bottom: 26px;
    }

    .site-header__logo{
        margin-right: auto;
    }

    .site-header__sitenav {
        display: none;
    }

    .site-header__sitenav .sitenav {
        background-color: #fff;
        padding: 50px;
    }

    .site-header__sitenav .sitenav__list {
        flex-direction: column;
    }

    .site-header__sitenav .sitenav__item:not(:last-child) {
        margin-right: 0;
    }

    .site-header__sitenav .sitenav__link {
        line-height: 300%;
    }

    .site-header--active .site-header__sitenav {
        display: flex;
        justify-content: flex-end;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.5);
    }
    

    /* SITENAV-TOGGLER */
    .sitenav-toggler {
        display: block;
        position: relative;
        width: 22px;
        height: 22px;
        background-color: transparent;
        border: none;
    }

    .sitenav-toggler span,
    .sitenav-toggler span::before,
    .sitenav-toggler span::after {
        position: absolute;
        display: block;
        top: 50%; margin-top: -1px;
        left: 50%; margin-left: -11px;
        width: 22px;
        height: 2px;
        background-color: var(--black-blue);
        transition: transform 0.3s ease;
    }

    .sitenav-toggler span::before,
    .sitenav-toggler span::after {
        content: "";
    }

    .sitenav-toggler span::before {
        transform: translateY(-5px);
    }

    .sitenav-toggler span::after {
        transform: translateY(5px);
    }

    .sitenav-toggler--active span {
        height: 0;
    }

    .sitenav-toggler--active span::before {
        transform: rotate(45deg);
    }

    .sitenav-toggler--active span::after {
        transform: rotate(-45deg);
    }
}