/* CUSTOM PROPS */
:root {
    --blue: #415AFF;
    --yellow: #F5FF93;
    --black: #191919;
    --black-blue: #212529;
    --light-grey: #8D9499;
    --dark-grey: #44464D;
    --grey: #737980;
    --white: #fff;
    --text-color: var(--black);
}


/* FONTS */
@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Bold.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}


/* GLOBAL */
html {
    box-sizing: border-box;
    height: 100%;
    scroll-behavior: smooth;
    font-size: 62.5%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

*:focus {
    /* Outline styles */
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 2rem;
    line-height: 140%;
    color: var(--text-color);
    background-color: var(--white);
}

img {
    max-width: 100%;
    height: auto;
}

/* AUTOFILL STYLES*/
/* input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    border: 1px solid green;
    -webkit-text-fill-color: green;
    -webkit-box-shadow: 0 0 0px 1000px #000 inset;
    transition: background-color 5000s ease-in-out 0s;
} */


/* PLACEHOLDER STYLES */
/* ::-webkit-input-placeholder,
::-moz-placeholder,
:-ms-input-placeholder,
:-moz-placeholder {
    color: #000;
    opacity: 1;
} */


/* VISUALLY HIDDEN */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}



/* CONTAINER */
.container {
    width: 100%;
    max-width: 137.6rem;
    padding-left: 32px;
    padding-right: 32px;
    margin-left: auto;
    margin-right: auto;
}


/* MAIN CONTENT */
.main-content {
    flex-grow: 1;
}


@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) { 

/* Retina-specific stuff here */

}