/* CUSTOM PROPS */
:root {
    --blue: #415aff;
    --yellow: #f5ff93;
    --black: #191919;
    --black-blue: #212529;
    --light-grey: #8d9499;
    --dark-grey: #44464d;
    --grey: #737980;
    --white: #fff;
    --text-color: var(--black);
}


/* FONTS */
@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Bold.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}


/* GLOBAL */
html {
    box-sizing: border-box;
    height: 100%;
    scroll-behavior: smooth;
    font-size: 62.5%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

*:focus {
    /* Outline styles */
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 2rem;
    line-height: 140%;
    color: var(--text-color);
    background-color: var(--white);
}

img {
    max-width: 100%;
    height: auto;
}

/* AUTOFILL STYLES*/
/* input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    border: 1px solid green;
    -webkit-text-fill-color: green;
    -webkit-box-shadow: 0 0 0px 1000px #000 inset;
    transition: background-color 5000s ease-in-out 0s;
} */


/* PLACEHOLDER STYLES */
/* ::-webkit-input-placeholder,
::-moz-placeholder,
:-ms-input-placeholder,
:-moz-placeholder {
    color: #000;
    opacity: 1;
} */


/* VISUALLY HIDDEN */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}



/* CONTAINER */
.container {
    width: 100%;
    max-width: 144rem;
    padding-left: 32px;
    padding-right: 32px;
    margin-left: auto;
    margin-right: auto;
}


/* BUTTON */
.button {
    display: inline-block;
    padding: 24px 32px;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 133.333%;
    color: var(--text-color);
    background-color: var(--yellow);
    border: none;
    border-radius: 36px;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    cursor: pointer;
}

.button--blue {
    padding: 27px 19px;
    font-weight: 400;
    color: var(--white);
    background-color: var(--blue);
    border-radius: 0;
}

.button__inner {
    display: flex;
    align-items: center;
    gap: 16px;
}

.button--blue .button__inner {
    gap: 43px;
}

.button__inner::after {
    content: "";
    display: inline-block;
    width: 18px;
    height: 18px;
    background-image: url(../imgs/arrow-to-right.svg);
}

.button--blue .button__inner::after {
    filter: brightness(0) invert(1);
}

/* FORM */
.form {
    display: flex;
    max-width: 100%;
    width: 508px;
    border: 1px solid #e3e7e2;
    border-radius: 100px;
    overflow: hidden;
}

.form__group {
    flex-grow: 1;
}

.form__field {
    display: block;
    width: 100%;
    padding: 27px 28px;
    font-size: 1.8rem;
    line-height: 133.333%;
    border: none;
    border-bottom-left-radius: 100px;
    border-top-left-radius: 100px;
}

.form__field::placeholder {
    color: var(--light-grey);
}

/* LOGO */
.logo {
    display: inline-block;
    flex-shrink: 0;
}

.logo:hover {
    opacity: 0.8;
}

.logo:active {
    opacity: 0.6;
}

.logo__img {
    display: block;
    width: 100%;
    height: 100%;
}

/* SITENAV */
.sitenav__list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sitenav__item:not(:last-child) {
    margin-right: 24px;
}

.sitenav__link {
    display: block;
    font-size: 1.6rem;
    line-height: 500%;
    color: var(--text-color);
    text-decoration: none;
    white-space: nowrap;
    transition: color 0.3s ease;
}

.sitenav__link:hover {
    color: var(--blue);
}

.sitenav__link:active {
    opacity: 0.6;
}

/* SITENAV-TOGGLER */
.sitenav-toggler {
    display: none;
}


/* MAIN CONTENT */
.main-content {
    flex-grow: 1;
}


/* SITE-HEADER */
.site-header__container {
    display: flex;
    align-items: center;
}

.site-header__logo {
    margin-right: 48px;
}


/* SITE-HERO */
.site-hero {
    padding-top: 65px;
    padding-bottom: 65px;
    background-image: url("../imgs/site-hero-bg.png");
    background-repeat: no-repeat;
    background-position: top 65px left calc(50% + 445px);
}

.site-hero__container {
    padding-left: 80px;
    padding-right: 80px;
}

.site-hero__content {
    max-width: 100%;
    width: 700px;
}

.site-hero__title {
    margin-top: 0;
    margin-bottom: 47px;
    font-size: 5.5rem;
    font-weight: 400;
    line-height: 123.636%;
    letter-spacing: 0.18rem;
    color: var(--black-blue);
}

.site-header__desc {
    width: 500px;
    margin-top: 0;
    margin-bottom: 30px;
}

.site-header__form-wrapper {
    width: min-content;
    text-align: center;
}

.site-header__form {
    margin-bottom: 8px;
}

.site-header__form-desc {
    font-size: 1.3rem;
    line-height: 184.615%;
    color: var(--light-grey);
}


/* RESULTS */
.results {
    padding-top: 35px;
    padding-bottom: 35px;
}

.results__heading {
    grid-column: 1 / -1;
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    color: var(--black-blue);
}

.results__content {
    display: grid;
    grid-template-columns: repeat(auto-fit, 400px);
    justify-content: center;
    grid-column-gap: 96px;
    grid-row-gap: 21px;
}

.results-preview {
    display: flex;
    flex-direction: column;
}

.results-preview__desc {
    flex-grow: 1;
    margin-bottom: 21px;
    font-size: 2.1rem;
    line-height: 190.476%;
    letter-spacing: 0.15rem;
    color: var(--dark-grey);
}

.results-preview__img {
    width: 294px;
    height: 595px;
    object-fit: contain;
    margin-left: -16px;
}


/* PARTNERS */
.partners {
    padding-top: 25px;
    padding-bottom: 25px;
}

.partners__title {
    margin-bottom: 24px;
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    text-align: center;
    color: var(--black-blue);
}

.partners__list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 35px 65px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.partner__img {
    display: block;
}


/* FEATURES */
.features {
    padding-top: 80px;
    padding-bottom: 80px;
}

.features__wrapper {
    display: grid;
    grid-row-gap: 80px;
}

.features-preview {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.features-preview__img {
    margin-left: -32px;
}

.features-preview--reverse .features-preview__img {
    justify-self: end;
    margin-right: -32px;
}

.features-preview__content {
    max-width: 100%;
    width: 480px;
    padding-top: 100px;
    color: var(--black-blue);
    font-weight: 700;
}

.features-preview--reverse .features-preview__content {
    width: 562px;
    grid-row: 1;
    padding-top: 67px;
    padding-left: 82px;
}

.features-preview__subject {
    margin-bottom: 8px;
    font-size: 1.6rem;
    line-height: 150%;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
}

.features-preview__heading {
    max-width: 100%;
    width: 352px;
    margin-bottom: 30px;
    font-size: 3.2rem;
    line-height: 125%;
}

.features-preview__title {
    margin-top: 0;
    margin-bottom: 100px;
    font-size: 5.4rem;
    line-height: 128.571%;
    letter-spacing: 0.225rem;
}

/* CTA */
.cta {
    padding-top: 37px;
    padding-bottom: 37px;
}

.cta__inner {
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    width: 790px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.cta__title {
    margin-top: 0;
    margin-bottom: 50px;
    font-size: 6.4rem;
    font-weight: 700;
    line-height: 112.5%;
    letter-spacing: 0.225rem;
    color: var(--black-blue);
}

.cta__form {
    margin-bottom: 8px;
}

.cta__form-desc {
    font-size: 1.3rem;
    line-height: 184.615%;
    color: var(--light-grey);
}


/* CREATORS */
.creators {
    padding-top: 110px;
    padding-bottom: 82px;
}

.creators__inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 90px;
}

.creators__content {
    justify-self: center;
    max-width: 100%;
    width: 475px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    color: var(--black-blue);
}

.creators__heading {
    margin-bottom: 30px;
    font-size: 3.2rem;
    font-weight: 700;
    line-height: 125%;
}

.creators__title {
    margin-top: 0;
    margin-bottom: 43px;
    font-size: 5.7rem;
    font-weight: 700;
    line-height: 126.316%;
    letter-spacing: 0.225rem;
}

.creators__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    justify-items: center;
    grid-row-gap: 62px;
}

.creators-cart {
    width: 180px;
}

.creators-cart__img {
    margin-bottom: 17px;
    width: 179px;
    height: 222px;
    object-fit: cover;
    border-radius: 22px;
}

.creators-cart__title {
    margin-bottom: 5px;
    font-size: 2.4rem;
    line-height: 133.333%;
    color: var(--black-blue);
}

.creators-cart__desc {
    color: var(--black-blue);
}


/* COMMENTS */
.comments {
    padding-top: 34px;
    padding-bottom: 34px;
}

.comments__title {
    margin-top: 0;
    margin-bottom: 56px;
    font-size: 2.6rem;
    font-weight: 400;
    line-height: 153.846%;
    letter-spacing: 0.15rem;
    color: var(--black-blue);
}

.comments__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(255px, 1fr));
    gap: 32px;
    padding: 0;
    margin: 0;
    list-style: none;
}

.item-comment {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 46px 48px;
    border-radius: 16px;
    color: var(--black-blue);
    box-shadow: 0px 12px 24px 0px rgba(0, 0, 0, 0.12);
}

.item-comment__text {
    flex-grow: 1;
    margin-top: 0;
    margin-bottom: 38px;
}

.item-comment__title {
    font-size: 1.1rem;
    line-height: 181.818%;
    letter-spacing: 0.15rem;
    text-transform: uppercase;
}

.item-comment__subtitle {
    font-size: 1.2rem;
    line-height: 166.667%;
    letter-spacing: 0.15rem;
    text-transform: uppercase;
    color: var(--grey);
}

/* SITE-HERO--FOOTER */
.site-hero--footer {
    padding-top: 165px;
    padding-bottom: 78px;
    background-image: url(../imgs/site-hero--footer-bg.png);
    background-position: top 165px left calc(50% + 445px);
}

.site-hero--footer .site-hero__title {
    margin-bottom: 60px;
}


@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) { 

    /* .site-hero {
        background-image: url("../imgs/site-hero-bg@2x.png");
    } */

    /* .site-hero--footer {
        background-image: url(../imgs/site-hero--footer-bg@2x.png);
    } */

}

@media only screen and (max-width: 81.25em) {
    .site-hero {
        background-position: top 65px left calc(50% + 345px);
    }
}

@media only screen and (max-width: 68.75em) {
    .site-hero {
        background-position: top 65px left calc(50% + 300px);
        background-size: 400px;
    }

    .site-hero__content {
        width: 510px;
    }

    .site-hero__title {
        font-size: 4rem;
        margin-bottom: 37px;
    }

    .site-header__desc {
        width: 100%;
    }

    .results__content {
        grid-template-columns: repeat(auto-fit, 300px);
    }

    .features-preview__content {
        padding-top: 25px;
    }

    .features-preview--reverse .features-preview__content {
        width: 480px;
        padding-top: 25px;
        padding-left: 0;
    }

    .creators__content {
        justify-self: start;
    }

    .creators__inner {
        grid-template-columns: 1fr;
        grid-row-gap: 62px;
    }
}

@media only screen and (max-width: 58.43em) {
    .form__field {
        padding: 19px 13px;
    }

    .button--blue {
        padding: 19px 13px;
    }

    .site-hero {
        background-position: top 65px left calc(50% + 255px);
        background-size: 349px;
    }
    
    .site-hero__container {
        padding-left: 32px;
        padding-right: 32px;
    }

    .site-hero__content {
        width: 475px;
    }

    .results__content {
        grid-template-columns: repeat(auto-fit, 280px);
    }

    .features-preview__content {
        padding-top: 0;
    }

    .features-preview--reverse .features-preview__content {
        padding-top: 0;
    }

    .features-preview__heading {
        font-size: 2.2rem;
    }

    .features-preview__title {
        margin-bottom: 32px;
        font-size: 4.4rem;
    }

    .creators {
        padding-top: 80px;
    }
}

@media only screen and (max-width: 50em) {
    .site-hero {
        padding-top: 325px;
        text-align: center;
        background-position: top 25px left 50%;
    }

    .site-hero__content {
        margin-left: auto;
        margin-right: auto;
    }

    .results__heading {
        text-align: center;
    }

    .results-preview__desc {
        margin-bottom: 8px;
    }

    .features {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .features-preview {
        grid-template-columns: 1fr;
        grid-row-gap: 22px;
    }

    .features-preview__content {
        grid-row: 1;
        justify-self: end;
    }

    .features-preview--reverse .features-preview__content {
        justify-self: start;
    }

    .creators {
        padding-top: 58px;
    }
}

@media only screen and (max-width: 35.62em) {
    /* SITE-HEADER */
    .site-header {
        padding-top: 26px;
        padding-bottom: 26px;
    }

    .site-header__logo{
        margin-right: auto;
    }

    .site-header__sitenav {
        display: none;
    }

    .site-header__sitenav .sitenav {
        background-color: #fff;
        padding: 50px;
    }

    .site-header__sitenav .sitenav__list {
        flex-direction: column;
    }

    .site-header__sitenav .sitenav__item:not(:last-child) {
        margin-right: 0;
    }

    .site-header__sitenav .sitenav__link {
        line-height: 300%;
    }

    .site-header--active .site-header__sitenav {
        display: flex;
        justify-content: flex-end;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.5);
    }
    

    /* SITENAV-TOGGLER */
    .sitenav-toggler {
        display: block;
        position: relative;
        width: 22px;
        height: 22px;
        background-color: transparent;
        border: none;
    }

    .sitenav-toggler span,
    .sitenav-toggler span::before,
    .sitenav-toggler span::after {
        position: absolute;
        display: block;
        top: 50%; margin-top: -1px;
        left: 50%; margin-left: -11px;
        width: 22px;
        height: 2px;
        background-color: var(--black-blue);
        transition: transform 0.3s ease;
    }

    .sitenav-toggler span::before,
    .sitenav-toggler span::after {
        content: "";
    }

    .sitenav-toggler span::before {
        transform: translateY(-5px);
    }

    .sitenav-toggler span::after {
        transform: translateY(5px);
    }

    .sitenav-toggler--active span {
        height: 0;
    }

    .sitenav-toggler--active span::before {
        transform: rotate(45deg);
    }

    .sitenav-toggler--active span::after {
        transform: rotate(-45deg);
    }

    .features-preview__content {
        width: 100%;
    }

    .features-preview--reverse .features-preview__content {
        width: 100%;
    }

    .cta__title {
        font-size: 5.4rem;
    }

    .creators__content {
        width: 100%;
    }
}

@media only screen and (max-width: 28.12em) {
    .form {
        flex-direction: column;
        gap: 8px;
        border-radius: 0;
        border: none;
    }

    .form__field {
        border: 1px solid #e3e7e2;
        border-radius: 100px;
    }

    .form__btn {
        align-self: center;
    }

    .button--blue {
        border-radius: 36px;
    }

    .features-preview__heading {
        width: 100%;
    }

    .cta__title {
        font-size: 4.4rem;
    }

    .creators__heading {
        font-size: 2.2rem;
    }

    .creators__title {
        font-size: 3.7rem;
        line-height: normal;
    }

    .comments__title {
        margin-bottom: 36px;
    }

    .item-comment {
        padding: 36px 38px;
    }

    .item-comment__text {
        margin-bottom: 26px;
    }
}

@media only screen and (max-width: 23.75em /* 380px */) {
    .button {
        padding: 14px 22px;
        font-size: 1.6rem;
        line-height: normal;
    }
    
    .results-preview {
        align-items: center;
    }
    
    .results-preview__desc {
        font-size: 1.8rem;
    }

    .results-preview__img {
        width: 235px;
        height: auto;
    }
}